{% extends "base.html" %}
{% block content %}
    <div class="jumbo col-xs-1" align="center">
        <h1>login</h1>
        {% if error %}
         <div class="alert alert-warning">Error: {{ error }}</div>
        {% endif %}
        <form action="" method="post" style="max-width: 330px">
            <dl>
                <dd>
                    <input class="form-control" type="text" name="username" value="{{ request.form.username }}" placeholder="username">
                </dd>
                <dd>
                    <input class="form-control" type="password" name="password" placeholder="password">
                </dd>
                <p><input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in"></p>
            </dl>
        </form>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
        {% endfor %}
    </div>
{% endblock %}
